{{!--
    BLOG CARD LIST
--}}

<section id="section-cards">
    <div class="container">
        <div class="row">
            <div class="section-cards-title">
                <h2>Articles</h2>
            </div>
            <div class="row row-cols-lg-3 g-3 mx-auto" id="listCard">
            {{#each dbArticle }}
                <div class="col">
                    <a href="/blog/{{ this.articlename }}/{{ this.id }}" class="card-link">
                        <div class="card" style="width: 18rem;">
                            <img src="./upload/articles/{{ image }}" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">{{ articlename }}</h5>
                                <p class="card-text">{{ content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each }}
            </div>
        </div>
    </div>
</section>