{{!--
    ARTICLE AND DESCRIPTION
--}}

<section id="card-page">
    <div class="container">
        <div class="row">
            {{#each dbArticle }}
            <div class="cards-page-title">
                <h2>{{ name }}</h2>
            </div>
            <div class="col-md-12">
                <div class="card card-article" style="max-width: 100%; max-height: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/upload/articles/{{ image }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ name }}</h5>
                                <p class="card-text">{{ content }}</p>
                                    <a href="{{ link }}">{{ link }}</a>
                                <p class="card-text"><small class="text-muted">Posté le {{{formatDate date "DD MMMM YYYY à HH:mm"}}}{{/each }} par {{#each dbUser }}{{ name }}{{/each }}{{#unless dbUser }}Utilisateur supprimé{{/unless }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
