{{!--
ARTICLE TABLE
--}}

<section id="blog" class="collapse">
    <div class="container">
        <div class="row">
            <div class="section-blog-title">
                <h2>Blog</h2>
                <a href="#add-article" data-bs-toggle="modal">
                    <i class="fas fa-plus-square"> Ajouter un article</i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit/Del</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dbArticle }}
                        <tr>
                            <td>{{ this.articlename }}</td>
                            <td>{{ this.content }}</td>
                            <td>{{ this.username }}</td>
                            <td>{{{formatDate date "DD MMMM YYYY"}}}</td>
                            <td>
                                <a href="#editarticle{{ this.id }}" data-bs-toggle="modal"><i
                                        class="fas fa-pen"></i></a>
                                <a href="#deletearticle{{ this.id }}" data-bs-toggle="modal"><i
                                        class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {{> modals/admin/editArticle}}

                        {{> modals/admin/deleteArticle}}
                        {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>