{{!--
USER TABLE
--}}
<section id="user" class="collapse show">
    <div class="container">
        <div class="row">
            <div class="section-user-title mb-3">
                <h2>Utilisateurs</h2>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">@</th>
                            <th scope="col">Del/Ban</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each dbUser}}
                        <tr>
                            <td><img src="./upload/users/{{ this.avatar }}" width="50" height="50" alt="">
                            </td>
                            <td>{{ this.name }}</td>
                            <td>{{ this.email }}</td>
                            <td>
                                <a href="#delete-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#ban-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-ban"></i>
                                </a>
                                <a href="#unban-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-unlock"></i>
                                </a>
                            </td>
                        </tr>
                        {{> modals/admin/deleteUser}}

                        {{> modals/admin/banUser}}

                        {{> modals/admin/unbanUser}}
                        {{/each}}
                        {{!--
                        <tr>
                            <td><img src="/images/comments/comment2.jpg" width="50" height="50" alt="">
                            </td>
                            <td>Rita</td>
                            <td>Rita@Rita.com</td>
                            <td>
                                <a href="#edituser" data-bs-toggle="modal">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="#delete-user" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#ban-user" data-bs-toggle="modal">
                                    <i class="fas fa-ban"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/comments/comment3.jpg" width="50" height="50" alt="">
                            </td>
                            <td>Fu Hua</td>
                            <td>hua@sentience.com</td>
                            <td>
                                <a href="#edituser" data-bs-toggle="modal">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="#delete-user" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#ban-user" data-bs-toggle="modal">
                                    <i class="fas fa-ban"></i>
                                </a>
                            </td>
                        </tr>
                        --}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>