{{!--
USER TABLE
--}}
<section id="user" class="collapse show">
    <div class="container">
        <div class="row">
            <div class="section-user-title mb-3">
                <h2>Utilisateurs</h2>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">@</th>
                            <th scope="col">Del/Ban</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dbUser}}
                        <tr>
                            <td><img src="./upload/users/{{ this.avatar }}" width="50" height="50" alt="">
                            </td>
                            <td>{{ this.username }}</td>
                            <td>{{ this.email }}</td>
                            <td>
                                <a href="#delete-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#ban-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-ban"></i>
                                </a>
                                <a href="#unban-user{{ this.id }}" data-bs-toggle="modal">
                                    <i class="fas fa-unlock"></i>
                                </a>
                            </td>
                            <td>{{#if this.isBan }}Banni{{/if }}{{#unless this.isBan}}OK{{/unless }}</td>
                        </tr>
                        {{> modals/admin/deleteUser}}

                        {{> modals/admin/banUser}}

                        {{> modals/admin/unbanUser}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>